* {
  font-family: "Proza Libre", sans-serif;
}

.row {
  margin-bottom: 2rem;
}

header {
  background-color: #562b81;
  width: 100%;
  height: 3rem;
  position: fixed;
  z-index: 1;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-title {
  position: absolute;
  top: 13px;
  color: white;
  font-size: larger;
}

.nav-link {
  position: absolute;
  top: 13px;
  left: 140px;
  color: white;
  font-size: larger;
  cursor: pointer;
}

.n-entry,
.edit-entry {
  margin-top: 3.3rem;
}

.code-journal-form {
  z-index: -1;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

button,
input,
textarea,
.preview-image {
  border-radius: 0.25rem;
}

.preview-image {
  width: 100%;
  border-radius: 5px;
}

label {
  margin-bottom: 0.75rem;
  font-weight: 800;
}

input,
textarea {
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid rgb(189 189 189);
  font-size: 1rem;
  font-weight: 500;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #562b81;
  box-shadow: 0 0 1px 1px rgb(150 66 233 / 60%);
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  color: white;
  background-color: #562b81;
  cursor: pointer;
}

.form-actions {
  text-align: end;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h2 {
  margin-top: 0;
}

.new-image {
  width: 100%;
  border-radius: 5px;
}

.new-button {
  color: white;
  background-color: #562b81;
  padding: 5px 10px;
  position: absolute;
  right: 20px;
  top: 4rem;
  border-radius: 5px;
  cursor: pointer;
}

.nothing-new {
  margin-top: 5rem;
  text-align: center;
}

.new-title {
  display: inline-block;
}

.pen-adjustment {
  color: #562b81;
  float: right;
}

.delete {
  border: none;
  padding: 0;
  color: red;
  float: left;
  background: none;
  text-decoration: underline;
}

.background-faded {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 10rem;
  margin-top: -5rem;
  margin-left: -15rem;
  box-shadow: 100px 100px 100px 100vw rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 5px;
}

.pop-up {
  text-align: center;
  margin-top: 50px;
}

.cancel {
  margin-top: 25px;
  margin-left: 20px;
  background-color: rgb(182, 182, 182);
  color: black;
}

.confirm {
  margin-top: 25px;
  margin-right: 20px;
  background-color: red;
}

.pop-up-buttons {
  display: flex;
  justify-content: space-between;
}

.form-ending {
  margin-top: -55px;
  padding-bottom: 50px;
  z-index: 1000;
  position: relative;
  width: fit-content;
}
